body {
    margin: 0px;
    padding: 0px;
    
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
    color: #333333;
}

a {
    text-decoration: none; 
    color: #333333;
}

h2,
h3,
h4 {
    font-weight: bold;
}

section {
    width: 1200px;
}

.button {
    font: inherit;
    
    text-decoration: uppercase;
    text-align: center;
    vertical-align: middle;
}

.visually-hidden {
    position: absolute;
    visibility: hidden;
}

.site-nav,
.features-list-1,
.full-sub-features,
.features-list-2,
.features-list-3 {
    list-style: none;  
}

.site-nav a:hover {
    color: #81b3d2;
}

.site-nav a:active {
    color: #b2b2b2;
}

.main-header {
    font-weight: bold;
    color: #333333;
    background-color: #ffffff;
}

.welcome-image {
    max-width: 1200px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat; 

}

.welcome-image img {
    margin-top: 76px;
    margin-bottom: 23px;
    margin-left: 360px;
}

.welcome-image::after {
    content: url("../img/shape-1.png");
    position: absolute;
    top: 685px;
    left: 0px;
}

.container {
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
    box-sizing: border-box;
    padding: 0;
}

.welcome-block {
    background-color: #ffffff;
    max-width: 1200px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.welcome-block h2 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 440px;
    margin-left: 380px;
    margin-right: 380px;
}

.welcome-block p {
    width: 489px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.features-1 {
    background-color: #81b3d2;
    color: #ffffff; 
    margin-top: -20px;
    display: flex;
    justify-content: space-between; 
}

.features-1 h3 {
    font-weight: bold;
    font-size: 21px;
}

.features-1::after {
    content: url("../img/feature-1.jpg");  
}

.features-item-1 {
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub-features {
    background-color: #ffffff;
    display: flex;
}

.full-sub-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.sub-features h4 {
    font-size: 21px;
}

.features-2 {
    background-color: #81b3d2;
    color: #ffffff;
    display: flex;
    justify-content: space-between; 
}

.features-2 h3 {
    font-weight: bold;
    font-size: 21px;
}

.features-2::before {
    content: url("../img/feature-2.jpg");
}

.features-item-2 {
    text-align: center;
    max-width: 300px;
}

.features-list-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.order {
    background-color: #ffffff;
    height: 250px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.order h2 {
    font-size: 30px;
    font-weight: bold; 
    padding-bottom: 20px;
    padding-top: 50px;
}

.order p {
    width: 450px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hotels-search h2 {
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 570px;
    height: 60px;
    position: absolute;
    left: 325px;
    bottom: 835px;
    padding-top: 30px;
}

.hotels-search h2:hover {
    background-color: #604e43;
}

.hotels-search h2:active {
    background-color: #503e33;
    color: #766860;
}

.search-form {
    background-color: #ffffff;
}

.search-form input[type="date"] {
    background-color: #f2f2f2;
}

.search-form input[type="date"]:hover {
    background-color: #ebebeb;
}

.search-form input[type="date"]:focus {
    background-color: #ffffff;
}

.search-form label {
    font-weight: bold;
    line-height: 26px;
}

.btn-search {
    background-color: #81b3d2;
    color: #ffffff;
}

.btn-search:hover {
    background-color: #669ec0;
}

.btn-search:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.main-footer {
    background-color: #ffffff; 
}

.footer-social b {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.footer-social ul {
    list-style: none;
    width: 160px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright b {
   font-weight: normal; 
    line-height: 26px;
}

/*    LAYOUT FOR SEDONA-HOTELS */

.filter {
    background-image: url("../img/filter-background.png");
    background-repeat: no-repeat;
    color: #ffffff;
}

.filter legend {
    font-weight: bold;
    font-size: 16px;
}

.filter ul,
.search-nav,
.hotels-results {
    list-style: none;
}

.filter-button {
    background-color: transparent;
    border-color: white;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-button:hover {
    background-color: #ffffff;
    color: #000000;
}

.qty {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.search-results {
    background-color: #ffffff;
}

.btn-info {
    background-color: #81b3d2;
    color: #ffffff;
}

.btn-info:hover {
    background-color: #669ec0;
}

.btn-info:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.btn-buy {
    background-color: #766357;
    color: #ffffff;
}

.btn-buy:hover {
    background-color: #604e43;
}

.btn-buy:active {
    background-color: #503e33;
    color: #81746d;
}
.hotels-item h3:hover {
    color: #81b3d2;
}

.hotels-item h3:active {
    color: #b2b2b2;
}


/*           СЕТКИ         */    








