body {
    margin: 0px;
    padding: 0px;
    
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
    color: #333333;
}

a {
    text-decoration: none; 
    color: #333333;
}

h2,
h3,
h4 {
    font-weight: bold;
}

section {
    width: 1200px;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-nav,
.features-list-1,
.full-sub-features,
.features-list-2,
.features-list-3 {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.site-nav a:hover {
    color: #81b3d2;
}

.site-nav a:active {
    color: #b2b2b2;
}

.main-header {
    font-weight: bold;
    color: #333333;
    background-color: #ffffff;
    position: relative; 
}

.main-header-logo img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    
}

.site-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 55px;
}

.site-nav li {
    width: 20%;
    margin: 0;
    padding: 0;

}

.site-nav li:first-child {
    text-align: left;
    margin-left: 6%;
}

.site-nav li:nth-child(2) {
    text-align: left;
    margin-right: auto;
}

.site-nav li:nth-child(3) {
    text-align: right;
    margin-left: auto;
}

.site-nav li:nth-child(4) {
    text-align: right;
    margin-right: 6%;
}

.welcome-image {
    max-width: 1200px;
    height: 508px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat; 
    position: relative;
    background-position: 50% 21%;
    text-align: center;

}

.welcome-image img {
    margin-top: 75px;
    margin-bottom: 23px;
}

.welcome-image::after {
    content: url("../img/shape-1.png");
    position: absolute;
    bottom: -4px;
    left: 0;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
    box-sizing: border-box;
    padding: 0;
}

.welcome-block {
    background-color: #ffffff;
    max-width: 1200px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    min-height: 155px;
}

.welcome-block h2 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 440px;
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 0;
    letter-spacing: 0.22pt;
    padding-bottom: 13px;
}

.welcome-block p {
    width: 489px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    line-height: 26px;
}

.features-1 {
    background-color: #81b3d2;
    color: #ffffff; 
    display: flex;
    justify-content: space-between; 
}

.features-1 h3 {
    font-weight: bold;
    font-size: 21px;
    width: 200px;
    padding-left: 48px;
}

.features-1::after {
    content: url("../img/feature-1.jpg");
    width: 800px;
    height: 256px;
}

.features-list-1 {
    width: 400px;
}

.features-item-1 {
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 55px;
    padding-top: 24px;
    line-height: 26px;
}

.sub-features {
    background-color: #ffffff;
}

.full-sub-features {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    padding-top: 56px;
}

.sub-features h4 {
    font-size: 21px;
}

.sub-features-item {
    width: 300px;
    padding-bottom: 66px;
}

.appartments-promo::before {
    content: url("../img/icon-1.svg");
}

.food-promo::before {
    content: url("../img/icon-3.svg");
}

.gifts-promo::before {
    content: url("../img/icon-2.svg");
}

.features-2 {
    background-color: #81b3d2;
    color: #ffffff;
    display: flex;
    justify-content: space-between; 
}

.features-2 h3 {
    font-weight: bold;
    font-size: 21px;
    max-width: 200px;
    padding-left: 60px;
    word-wrap: break-word;
}

.features-2::before {
    content: url("../img/feature-2.jpg");
    width: 800px;
    height: 256px;
}

.features-list-2 {
    width: 400px;
}

.features-item-2 {
    text-align: center;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 26px;
    padding-left: 40px;
    padding-top: 35px;
}

.features-3 {
    min-height: 230px;
}

.features-3 h3 {
    font-weight: bold;
    font-size: 21px;
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 23px;
}

.features-list-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.features-item-3 {
    width: 280px;
}

.order {
    background-color: #ffffff;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0;
    position: relative;
}

.order h2 {
    font-size: 30px;
    font-weight: bold; 
    padding-bottom: 8px;
    padding-top: 58px;
}

.order p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0; 
    margin-top: 0;
    max-width: 440px;
}

.btn-search-appartments {
    font-weight: bold;
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    min-width: 568px;
    min-height: 90px;
    margin-top: 50px;
    
}

.btn-search-appartments:hover {
    background-color: #604e43;
}

.btn-search-appartments:active {
    background-color: #503e33;
    color: #766860;
}

.search-form {
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 568px;
    min-height: 395px;
}

.search-form p {
    margin: 0; 
}

.search-form input[type="date"],
.search-form input[type="text"] {
    background-color: #f2f2f2; 
    border: none;
}

.search-form input[type="date"] {
    min-width: 346px;
    min-height: 38px;
    position: relative;
    
}

.search-form input[type="date"]:hover {
    background-color: #ebebeb;
}

.search-form input[type="date"]:focus {
    background-color: #ffffff;
    border-color: #e5e5e5;
}

.search-form input[type="date"]::after {
    content: url("../img/calendar.svg");
    width: 21px;
    height: 22px;
    position: absolute;
    right: 10px;
    opacity: 0.3;
    
}

.search-form input[type="date"]:hover::after {
  opacity: 1;
}

.search-form input[type="date"]:active::after path {
    fill: #81b3d2;
}

.search-form input[type="text"] {
    height: 38px;
    width: 38px;
}

.search-form label {
    font-weight: bold;
    line-height: 26px;
    min-width: 110px;
    margin-left: 50px;
    margin-right: 12px;
}

.btn-search {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    background-color: #81b3d2;
    color: #ffffff; 
    min-height: 58px;
    min-width: 458px;
    margin-top: 48px;
    margin-bottom: 57px;
}

.btn-search:hover {
    background-color: #669ec0;
}

.btn-search:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.plus,
.minus {
    background-color: #f2f2f2;
    height: 38px;
    width: 38px;
    border: none;
}

.searching-item {
    display: flex;
    align-items: baseline;
    padding-top: 55px;
}

.searching-item:nth-child(2) {
    padding-top: 30px;
}

.wrap-column {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: -10px;
    margin-right: 58px;
}

.main-footer {
    background-color: #ffffff; 
    min-height: 120px;
    width: 1200px;
}

.footer-social b {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    display: block;
    padding-right: 15px;
}

.sedona-visit:hover {
    color: #81b3d2;
}

.sedona-visit:active {
    color: #bdbbbc;
}

.footer-social ul {
    list-style: none;
    width: 160px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 92px;
}

.footer-copyright b {
    font-weight: normal; 
    line-height: 26px;
    font-size: 14px;
    padding-right: 5px;
}

.footer-social {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-left: 131px;
    padding-top: 27px;
}

.social-button {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:hover path {
  fill: #ffffff;
} 

.social-button:active path {
    fill: #88b6d1;
}

.social-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 170px;
    padding: 0;
    margin: 0 auto;
}

.btn-htmlacademy {
    background-color: #ffffff;
    display: block;
    width: 126px;
    height: 35px;
}

.btn-htmlacademy:hover path {
   fill: #81b3d2; 
}

.btn-htmlacademy:active path {
   fill: #bdbbbc; 
}

/*    LAYOUT FOR SEDONA-HOTELS */

.filters {
    background-image: url("../img/filter-background.png");
    background-repeat: no-repeat;
    color: #ffffff;
    min-height: 217px;
    
}

.filters legend {
    font: inherit;
    font-size: 16px;
    font-weight: bold;
}

.filters fieldset {
    border: none;
    margin-top: 25px;
    width: 200px;
}

.filters fieldset:last-child {
    width: 330px;
}

.filter {
    display: flex;
    justify-content: space-around;
}

.filter ul,
.search-nav,
.hotels-results {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.filter-option {
    padding: 20px 0;
}

.filter-button {
    background-color: transparent;
    border-color: white;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-button:hover {
    background-color: #ffffff;
    color: #000000;
}

.search-nav {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    min-height: 88px;
    padding-top: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.search-nav li:not(:first-child) {
    padding-left: 25px;
    font-size: 12px;
    line-height: 18px;
}

.qty {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.search-results {
    background-color: #ffffff;
}

.search-results li {
    background-color: #ffffff;
    padding-left: 73px;
    max-width: 1200px;
}

.hotels-item {
    min-height: 153px;
    border-bottom: 1px solid #e5e5e5;
}

.hotels-item img {
    width: 135px;
    height: 90px;
}

.btn-info {
    background-color: #81b3d2;
    color: #ffffff;
    width: 110px;
    height: 27px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.btn-info:hover {
    background-color: #669ec0;
}

.btn-info:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.btn-buy {
    background-color: #766357;
    color: #ffffff;
    width: 142px;
    height: 27px;
    font-weight: bold;
}

.btn-buy:hover {
    background-color: #604e43;
}

.btn-buy:active {
    background-color: #503e33;
    color: #81746d;
}
.hotels-item h3:hover {
    color: #81b3d2;
}

.hotels-item h3:active {
    color: #b2b2b2;
}

.hotels-item {
    display: flex;
}

.wrap-column-1 {
    display: flex;
    flex-direction: column;
}

.raiting {
    background-color: #f2f2f2;
    max-width: 112px;
}

.wrap-column-2 {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stars {
    background-image: url("../img/star.svg");
    width: 18px;
    height: 17px;
        
}

.second-wrap {
    display: flex;
    justify-content: flex-start;
}

.second-wrap b {
    margin-right: 20px;
}

.third-wrap {
    display: flex;
}

.third-wrap a {
    display: block;
    margin-right: 20px;
    padding-top: 5px;
}

.by-type,
.by-raiting {
    border-bottom: 1px dotted grey; 
}

.sort-up {
    width: 11px;
    height: 10px;
    background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
}

.sort-down {
    width: 11px;
    height: 10px;
    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
}

.wrap-stars {
    display: flex;
}

.sorting-btn {
    display: flex;
}
